<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :relationship, style: "display: block" %>
    <%= form.text_field :relationship %>
  </div>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :middle_name, style: "display: block" %>
    <%= form.text_field :middle_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :birth_month, style: "display: block" %>
    <%= form.number_field :birth_month %>
  </div>

  <div>
    <%= form.label :birth_day_of_month, style: "display: block" %>
    <%= form.number_field :birth_day_of_month %>
  </div>

  <div>
    <%= form.label :birth_year, style: "display: block" %>
    <%= form.number_field :birth_year %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :date_of_last_meetup, style: "display: block" %>
    <%= form.datetime_field :date_of_last_meetup %>
  </div>

  <div>
    <%= form.label :time_since_last_meetup, style: "display: block" %>
    <%= form.number_field :time_since_last_meetup %>
  </div>

  <div>
    <%= form.label :date_of_last_communication, style: "display: block" %>
    <%= form.datetime_field :date_of_last_communication %>
  </div>

  <div>
    <%= form.label :time_since_last_communication, style: "display: block" %>
    <%= form.number_field :time_since_last_communication %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
