<div id="<%= dom_id person %>">
  <p>
    <strong>Relationship:</strong>
    <%= person.relationship %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= person.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Birth month:</strong>
    <%= person.birth_month %>
  </p>

  <p>
    <strong>Birth day of month:</strong>
    <%= person.birth_day_of_month %>
  </p>

  <p>
    <strong>Birth year:</strong>
    <%= person.birth_year %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= person.age %>
  </p>

  <p>
    <strong>Date of last meetup:</strong>
    <%= person.date_of_last_meetup %>
  </p>

  <p>
    <strong>Time since last meetup:</strong>
    <%= person.time_since_last_meetup %>
  </p>

  <p>
    <strong>Date of last communication:</strong>
    <%= person.date_of_last_communication %>
  </p>

  <p>
    <strong>Time since last communication:</strong>
    <%= person.time_since_last_communication %>
  </p>

</div>
